{{ content_for_index }}

<div class="columns-holder front_secondary">
	<div class="column columntheleft">

		<p class="also">Also...</p>

		<ul class="product_listings">
			<li>{{ pages.front-page-also-one.content }}</li>
			<li>{{ pages.front-page-also-two.content }}</li>
			<li>{{ pages.front-page-also-three.content }}</li>
		</ul>



	</div>
	<div class="column eventsnpostings">

		<p class="eventnpostingstitle">Events & Postings:</p>
		<div class="boxee">
			{{ pages.front-page-events-and-postings.content }}
		</div>
	</div>
</div>
