<div class="features-column">

<div class="columns-holder front_primary">
	<div class="column columntheleft">
		{{ pages.front-page-left-main-area.content }}
	</div>
	<div class="column eventsnpostings">
		<div class="front-page-right-main-area">
			{{ pages.front-page-right-main-area.content }}
		</div>
		<div class="front-page-right-main-area-two">
			{{ pages.front-page-right-main-area-two.content }}
		</div>


	</div>
</div>


<!-- next row -->

<div class="columns-holder front_secondary">
	<div class="column columntheleft">

		<p class="also">Also...</p>

		<ul class="product_listings">
			<li>{{ pages.front-page-also-one.content }}</li>
			<li>{{ pages.front-page-also-two.content }}</li>
			<li>{{ pages.front-page-also-three.content }}</li>
		</ul>



	</div>
	<div class="column eventsnpostings">

		<p class="eventnpostingstitle">Events & Postings:</p>
		<div class="boxee">
			{{ pages.front-page-events-and-postings.content }}
		</div>
	</div>
</div>
